.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #505050;
    margin-bottom: 6rem;
    font-family: Roboto;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    font-weight: 200;
  }
  
  .formLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .formInput {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formButton {
    background-color: #505050;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .formButton:hover {
    background-color: #456a50;
  }
  