.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #548060;
    padding: 1rem 5rem;
  }
  
  .logo {
    color: white;
  }

  .logoLink {
    text-decoration: none;
    color: white;
  }
  
  
  .navLinks {
    list-style: none;
    display: flex;
    text-decoration: none;
  }
  
  .navLinks li {
    margin-left: 3rem;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navLinks li a:hover {
    text-decoration: none;
  }
  